@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular Font */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium Font */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold Font */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold Font */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Apply Gilroy globally */
html {
  font-family: "Gilroy", sans-serif;
}

/* Apply base font size (1.6rem / 16px) to body */
body {
  @apply text-base;
}
